#coins-transaction{
  animation: fadeCoin 2s forwards;
}

#coins-transaction.added{
  color: rgb(92, 255, 23);
}
#coins-transaction.added::before{
  content: "+"
}
#coins-transaction.remoded{
  color: rgb(255, 30, 23);
}
#coins-transaction.remoded::before{
  content: "-"
}

@keyframes fadeCoin {
  0%{
    opacity: 0;
    bottom: 0;
  }
  50%{
    opacity: 1;
    bottom: -35px;
  }
  100%{
    opacity: 0;
    bottom: -35px;
    display: none;
  }
}

#first-card-pushed{
  animation: pushToDealer 1s forwards;
}

@keyframes pushToDealer {
  0%{
    width: 7em;
    position: fixed;
    top: -1em;
    right: 2.5em;
    transform: rotateZ(-90deg);
  }
  100%{
    width: 8em;
    position: fixed;
    top: 20%;
    right: 71%;
    transform: rotateZ(360deg);
  }
}

#card-transaction{
  animation: pushToPlayer 1s forwards;
}

@keyframes pushToPlayer {
  0%{
    width: 7em;
    position: fixed;
    top: -1em;
    right: 2.5em;
    transform: rotateZ(-90deg);
  }
  100%{
    width: 8em;
    position: fixed;
    top: 20%;
    right: 71%;
    transform: rotateZ(360deg);
  }
}
