#coins-transaction{
  animation: fadeCoin 2s forwards;
}

#coins-transaction.added{
  color: rgb(92, 255, 23);
}
#coins-transaction.added::before{
  content: "+"
}
#coins-transaction.remoded{
  color: rgb(255, 30, 23);
}
#coins-transaction.remoded::before{
  content: "-"
}

@keyframes fadeCoin {
  0%{
    opacity: 0;
    bottom: 0;
  }
  50%{
    opacity: 1;
    bottom: -35px;
  }
  100%{
    opacity: 0;
    bottom: -35px;
    display: none;
  }
}

#card_first_hit.card1{

}

#card_hit_to_dealer{
  animation: pushToDealer 1s forwards;
}

@keyframes pushToDealer {
  0%{
    width: 7em;
    position: fixed;
    top: -1em;
    right: 2.5em;
    transform: rotateZ(-90deg);
  }
  100%{
    width: 8em;
    position: fixed;
    top: 20%;
    right: 71%;
    transform: rotateZ(360deg);
  }
}

#card_hit_to_player{
  position: fixed;
  width: 8em;
  animation: hit_card 1s forwards;
}

@keyframes hit_card {
  0%{
    top: -1em;
    right: 2.5em;
  }
  100%{
    top: 20%;
    right: 71%;
    transform: rotateZ(360deg);
    transform: rotateY(90deg);
  }
}

.card_flip{
  animation: fliping 1s forwards;
}

@keyframes fliping {
  0%{
    transform: rotateY(90deg);
  }
  100%{
    transform: rotateY(0deg);
  }
}
