@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');

html {
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  background-image: url('/img/background.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.action-list{
  display: flex;
  position: absolute;
  bottom: 0;
}
.table {
  display: flex;
  justify-content: center;
}
.table .bet{
  background-color: #a1bf93;
  position: absolute;
  top: 0;
  text-align: center;
  width: 5em;
}
.table .bet span{
  color: green;
}

.table .bet-modal{
  background-color: grey;

  position: absolute;
  display: flex;
  /* display: none; */
  flex-direction: column;
  align-self: center;
}
.table .bet-modal .chips{
  width: 30%;
  display: flex;
  align-content: space-around;
}

.table .bet-modal .chips button{
  margin: 0.3em;
  border-radius: 1000px !important;
  border: none;
  width: 4em;
  height: 4em;
}

.table .bet-modal .painel{
  background-color: green;

}
.table .bet-modal .bet-deal{
  display: flex;
  align-self: center;
}

button{
  padding: .5em;
  cursor: pointer;
  text-transform: capitalize;
  background-color: #111;
  color: #FFF;
}

button:hover{
  background-color: #fff;
  color: #111;
}

.table .side{
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100vh;
  width: 100%;
}
.table .side .hand{
  min-width: 50%;
  min-height: 50%;

  display: flex;
  flex-wrap: wrap;
}
.table .side .hand .card{
  width: 8em;
  margin-right: -5em;
  margin-left: .8em;
}
.table .side .hand .card:nth-child(0+1){
  margin: 1em;
}
.table .side .hand .card img{
  width: 100%;
  border-radius: 15px;
  box-shadow: -2px 1px #555;
}

.player-side .hand{
  margin-right: 5em;
  align-self: flex-end;
}

.player-side .wallet{
  position: absolute;
  top: 0;
  color: #fff;
}

.table .action-list button{
  padding: .5em;
  font-size: .9em;
  margin: .5em;
  width: 8em;
}

.player-side .wallet{
  margin: 1em;
  width: 10%;
  display: flex;
  align-items: flex-end;
}

.wallet span{

}

.wallet span#coins-added{
  position: absolute;
  top: 1.5em;
  left: 2.5em;
  color: rgb(92, 255, 23);
}

.player-side .wallet img{
  width: 100%;
}

.player-side .wallet span{
  padding-bottom: 16px;
  font-size: 1.8em;
  font-family: 'PT Sans Caption', sans-serif;
}

.dealer-side{
}

.dealer-side .hand{

}

.dealer-side .deck{
  position: absolute;
  top: -1em;
  right: 2.5em;
}

.dealer-side .deck img{
  width: 8em;
  transform: rotate(90deg);
}

.player-side{

}

.score{
  display: flex;
  justify-content: center;
  color: #fff;
}

.score span{
  display: flex;
  align-self: center;
  margin-left: .3em;
  font-size: 3em;
}
